.EmptyTable {
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .EmptyTable {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .EmptyTable {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .EmptyTable {
        width: 1170px;
    }
}

.Title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Title h3 {
    margin: 5px 0 6px;
    font-size: 18px;
    color: #73879C;
    font-weight: 500;
}

.ChangeBtn {
    margin: 0;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #6c757d;
    color: #6c757d;
    transition: 0.5s ease-in-out;
}

.Panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Img {
    width: 80%;
    margin: auto;
    height: 10em;
    object-fit: contain;
    margin-top: 2em;
    margin-bottom: 1em;
}

.Description {
    text-align: center;
    margin-top: 2em;
    font-style: italic;
    color: #989595;
    margin-bottom: 2em;
}

.ChangeBtn:hover {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #fff;
}