.Msg {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    max-width: 45%;
}

.Yours {
    background-color: #d8d8d8;
}

.Mine {
    color: white;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
}

.Mine:last-of-type:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
}

.Mine:last-of-type:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: #e8eded;
    border-bottom-left-radius: 10px;
}

.Yours:last-of-type:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #d8d8d8;
    border-bottom-right-radius: 15px;
}

.Yours:last-of-type:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: #e8eded;
    border-bottom-right-radius: 10px;
}

.Mine.AnimateLoad {
    animation: animate-chat-load-mine-msg 0.5s ease-in-out;
}

.Yours.AnimateLoad {
    animation: animate-chat-load-yours-msg 0.5s ease-in-out;
}

.Mine.AnimateNew {
    animation: animate-send-msg 0.3s ease-in-out;
}

.Yours.AnimateNew {
    animation: animate-recv-msg 0.3s ease-in-out;
}

@keyframes animate-chat-load-mine-msg {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes animate-chat-load-yours-msg {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes animate-send-msg {
    0% {
        transform: translateY(100vh) scale(4); 
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes animate-recv-msg {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}