.Container{
    height: 350px;
    background-color: #26B99A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-image: url(../../../assets/img/profileBg.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center bottom;
}

.Img{
    height: 200px;
    width: 200px;
}

.Img img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 7px solid #ffffff;
}
.Img object {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 7px solid #ffffff;
}

.Name{
    font-weight: 500;
    font-size:24px;
    padding-top: 5px;
}

.ServiceTypes{
    font-size: 14px;
    line-height: 1.42857143;
    font-style: italic;
    padding-top:5px;
    padding-bottom: 5px; 
}