.AptitudeEditor {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.Panel {
    width: 100%;
    padding: 20px 40px;
}

.Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    margin: 20px;
}

.EditDescriptionBtn {
    margin: 10px;
    margin-right: 20px;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 4px;
    color: #ff609e;
    font-weight: 500;
    cursor: pointer;
}

.ActionBtns {
    display: flex;
}

.SaveDescriptionBtn {
    margin: 10px;
    margin-right: 20px;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 4px;
    color: #29bca1;
    font-weight: 500;
    cursor: pointer;
}

.CancelDescriptionBtn {
    margin: 10px;
    margin-right: 20px;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 4px;
    color: #d62a2a;
    font-weight: 500;
    cursor: pointer;
}

.DeleteBtn {
    margin: 10px;
    margin-right: 20px;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 4px;
    color: #fff;
    font-weight: 900;
    background: orange;
    cursor: pointer; 
}

textarea {
    box-shadow: none;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: none;
    resize: vertical;
    min-height: 150px;
}

.ServiceTypeEditTitle {
    display: flex;
    align-items: baseline;
}

.ServiceTypeEditTitle h5 {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 15px;
}

.AutocompleteInput {
    border: 0;
    background: transparent;
    border: 1px solid #efecec;
    border-bottom: 2px solid #ff6ba8;
    border-radius: 0;
}

.AutocompleteItem {
    padding: 10px;
    cursor: pointer;
}

.AutocompleteItem.IsHighlighted {
    background-color: #ff6ba8;
    color: #fff;
}