.Profile {
    width: 100%;
}
.MainContainer{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}
.Content{
    margin:20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    width: 75%;
}

.Contact{
    width: 25%;
    margin-top:20px;
    position: sticky;
    position: -webkit-sticky;
    height: 400px;
    top: 95px;
}

.GeneralDescription{
    background-color: #FFF;
    padding: 2em 3em;
    border: 1px solid #E6E9ED;
}

.ShowMore{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ShowMore h4{
    margin-right:5px;
}

.Overflow{
    overflow: hidden;
}