.MenuBtns {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.MenuBtnsProvider {
    justify-content: space-between;
}

.NavBtnContainer {
    display: flex;
}