.SelectChatMsg {
    width: calc(100% - 340px);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #e9eded;
}

.Description {
    margin-top: 2.5em;
    color: #6f7a85;
    font-style: italic;
    font-size: 16px;
}

.Img {
    width: 80%;
    height: 20em;
    object-fit: contain;
    opacity: 0.7;
}