.Container{
    display: flex;
    flex-wrap: nowrap;
    background-color: #F7F7F7;
    min-height: 100%;
    width: 100%;
    position: absolute;
}

.Results{
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
}
