.Badge {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.warning {
    background-color: #f0ad4e;
}

.success {
    background-color: #5cb85c;
}

.primary {
    background-color: #337ab7;
}

.danger {
    background-color: #d9534f;
}

.info {
    background-color: #5bc0de;
}