.formGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formGroup label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 700;
    color: #444;
}

.inputElem {
    height: 45px;
    box-shadow: none;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: none;
}

.ValidationError {
    margin: 0;
    text-align: center;
    font-size: 12px;
    margin-top: 2px;
    font-style: italic;
    color: #e61213;
}