.MainContainer {
    position: relative;
    margin-top: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: calc(100vh - 50px);
}

@media (min-width: 768px) {
    .MainContainer {
        margin-top: 65px;
        min-height: calc(100vh - 65px);
    }
}