.LoginContainer {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    flex: 1;
    padding: 80px 0;
}

.Form {
    max-width: 320px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 0;
}

.Link {
    text-decoration: none;
    color: #444444;
    text-align: center;
    margin-top: 40px;
}

.Logo {
    width: 6em;
    height: 6em;
    object-fit: contain;

}

.Title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
}

.Input {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    text-indent: 8px;
    height: 42px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.Checkbox {
    margin-top: 2em;
    font-size: 13px;
    color: #6f7a85;
    margin-bottom: 10px;
}

.Checkbox label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
}

.Checkbox input {
    width: auto;
    height: auto;
}

.SignInBtn {
    border-radius: 4px;
    font-weight: 500;
    margin-top: 1em;
}

.Forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
    margin-top: 2.5em;
}

.SignUp {
    font-style: italic;
    text-decoration: none;
    color: #6f7a85;
    margin-left: 0.5em;
}


.ValidationError input, .ValidationError select, .ValidationError textarea {
    border: 1px solid #e21313!important;
}

.ValidationMsg {
    color: #e21313;
    font-size: 13px;
    text-align: center;
    font-style: italic;
}

.FormGroup {
    margin-bottom: 15px;
    width: 100%;
}

.StatusContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.StatusOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #444444ab;
}

.Status {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
}

.ErrorAlert {
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
}


.Loader,
.Loader:before,
.Loader:after {
  background: #2bc1a4;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.Loader {
  color: #2bc1a4;
  text-indent: -9999em;
  margin: 40px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.Loader:before,
.Loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.Loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.Loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}